<ion-view view-title="Create New Subject">    
  <ion-content>
    <form ng-submit="new.submit()">
		<div class="list">
			<label class="item item-input">
				<span class="input-label"> Subject Name </span>
				<input ng-model="new.subjectName" type="text" required/>
			</label>
		</div>
		<button type="submit" class="button button-positive button-full">Add</button>
    </form>
  </ion-content> 
</ion-view>
