<ion-view view-title="Cash Flow">  
  
	<ion-nav-buttons side="bottom">
		<a class="button button-positive" href="#/tab/cashflow/new">
			<i class="icon ion-compose"></i>
		</a> 
	</ion-nav-buttons>
  
  
	<ion-content>
		<ul class="list">
			<li class="item" ng-repeat="l in list">
				{{l.description}}
				<span class="badge" ng-class="{'badge-balanced':isIncome(l),'badge-assertive':!isIncome(l)}">{{l.amount | number:2}}</span>
				<button type="submit" class="ion-minus-circled" ng-click="alert('sample')"></button>
			</li>
		</ul>
	</ion-content>


</ion-view>
