<ion-view view-title="Subjects">  
  
	<ion-nav-buttons side="bottom">
		<a class="button button-positive" href="#/tab/subjects/new">
			<i class="icon ion-compose"></i>
		</a> 
	</ion-nav-buttons>
  
  
	<ion-content>
		<ul class="list">
			<li class="item" ng-repeat="l in list">
				<div  style="float: left; width: 85%;">{{l.subjectName}}</div>
				<button type="submit"  ng-click="go(l.subjectName)">View</button>
				<button type="submit" ng-click="remove(l.subjectName)">X</button>
			</li>
		</ul>
	</ion-content>


</ion-view>
