<ion-view view-title="Students">  
  
	<ion-nav-buttons side="right">
		<a class="button button-positive" href="#/tab/students/new/{{subject}}">
			<i class="icon ion-compose"></i>
		</a> 
	</ion-nav-buttons>
  
  
	<ion-content>
		<ul class="list">
			<li class="item" ng-repeat="s in students">
				<div style="float: left; width: 95%;">{{s.studentName}}</div>
				<button type="submit" ng-click="remove(s.studentName)">X</button>
			</li>
		</ul>
	</ion-content>


</ion-view>
