<ion-view view-title="Dashboard">
  <ion-content class="padding">
	<ul class="list">
		<li class="item" ng-repeat="s in list" ng-click="go('#/tab/students')">
			{{s}}
		</li>
	</ul>
  </ion-content>
</ion-view>
