<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Subjects Tab -->
  <ion-tab title="Subjects" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#tab/subjects">
		<ion-nav-view name="tab-subjects"></ion-nav-view>
  </ion-tab>

</ion-tabs>
